<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>#</th>
        <th>Item</th>
        <th>Room</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Lorem</td>
        <td>ipsum</td>
        <td><button type="button" class="btn btn-secondary btn-sm">Edit</button></td>
        <td><button type="button" class="btn btn-danger btn-sm">Delete</button></td>
      </tr>
    </tbody>
  </table>
</div>
   